body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto repeat(4, auto) auto;
    background-color: #F28F79;
	row-gap: 0;
	min-height: 100vh;
}

header {
	grid-column: 1 / -1;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	column-gap: 20px;
	padding: 10px 40px;
}

.header-content {
	grid-column: 1;
	justify-self: start;
}

.app-title {
	margin: 0;
    color: #5D688C;
	font-size: 2rem;    
    font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro', 'Rounded M+ 1c', 'Rounded Mplus 1c', 'UD デジタル 教科書体 NK-R', 'UD Digital 教科書体 NK-R', 'Noto Sans CJK JP', 'Noto Sans Japanese', sans-serif;
	font-weight: 600;
}

.countdown-timer {
	grid-column: 2;
	justify-self: center;
	background: #F2B9AC;
	border-radius: 24px;
	padding: 12px 32px;
	min-width: 170px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.timer-display {
	font-size: 1.8rem;
    font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic Pro', 'ヒラギノ丸ゴ Pro', 'Rounded M+ 1c', 'Rounded Mplus 1c', 'UD デジタル 教科書体 NK-R', 'UD Digital 教科書体 NK-R', 'Noto Sans CJK JP', 'Noto Sans Japanese', sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}